<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Grogery</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.icraze.grogeryprefs</string>
			<key>key</key>
			<string>kEnabled</string>
			<key>label</key>
			<string>Enabled</string>
			<key>PostNotification</key>
			<string>com.icraze.grogeryprefs.settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Options</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.icraze.grogeryprefs</string>
			<key>key</key>
			<string>kNoAdsEnabled</string>
			<key>label</key>
			<string>No Ads</string>
			<key>PostNotification</key>
			<string>com.icraze.grogeryprefs.settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.icraze.grogeryprefs</string>
			<key>key</key>
			<string>kBGPlaybackEnabled</string>
			<key>label</key>
			<string>Background Playback</string>
			<key>PostNotification</key>
			<string>com.icraze.grogeryprefs.settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.icraze.grogeryprefs</string>
			<key>key</key>
			<string>kHideWatermarkEnabled</string>
			<key>label</key>
			<string>Hide Watermark</string>
			<key>PostNotification</key>
			<string>com.icraze.grogeryprefs.settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.icraze.grogeryprefs</string>
			<key>key</key>
			<string>kNoDownloadButtonEnabled</string>
			<key>label</key>
			<string>Hide Download Button</string>
			<key>PostNotification</key>
			<string>com.icraze.grogeryprefs.settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.icraze.grogeryprefs</string>
			<key>key</key>
			<string>kHideCastButtonEnabled</string>
			<key>label</key>
			<string>Hide Cast Button</string>
			<key>PostNotification</key>
			<string>com.icraze.grogeryprefs.settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.icraze.grogeryprefs</string>
			<key>key</key>
			<string>kDisableVoiceSearchEnabled</string>
			<key>label</key>
			<string>Disable Voice Search</string>
			<key>PostNotification</key>
			<string>com.icraze.grogeryprefs.settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.icraze.grogeryprefs</string>
			<key>key</key>
			<string>kDisableStoriesEnabled</string>
			<key>label</key>
			<string>Disable Stories</string>
			<key>PostNotification</key>
			<string>com.icraze.grogeryprefs.settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.icraze.grogeryprefs</string>
			<key>key</key>
			<string>kEnableiPadInterface</string>
			<key>label</key>
			<string>Enable iPad Interface</string>
			<key>PostNotification</key>
			<string>com.icraze.grogeryprefs.settingschanged</string>
		</dict>
	</array>
	<key>title</key>
	<string>Grogery</string>
</dict>
</plist>
